.full-height {
  height: 100vh;
}

.izquierda > p{
  border-left: 2px solid white;
  padding: 10px;
  margin-left: 20px;
}

.derecha > p{
  border-right: 2px solid white;
  padding: 10px;
  margin-right: 20px;
}

.carrera, .carreras {
  padding: 15% 10px;
  background-color: #292929;
  background-size: cover;
  background-blend-mode: soft-light;
  background-position-x: center;
  color: #fff;
}

.carreras {
  background-image: url('../images/carreras.jpg');
}

#informatica {
  background-image: url('../images/pc.jpg');
}

#acuacultura {
  background-image: url('../images/acua.jpg');
}

#administracion {
  background-image: url('../images/admin.jpg');
}

#biologia {
  background-image: url('../images/biologia.jpg');
}

#contaduria {
  background-image: url('../images/conta.jpg');
}

#eduintegral {
  background-image: url('../images/educacion.jpg');
}

#eduingles {
  background-image: url('../images/ingles.jpg');
}

#enfermeria {
  background-image: url('../images/enfer.jpg');
}

#estadistica {
  background-image: url('../images/estad.jpg');
}

#hoteleria {
  background-image: url('../images/hotel.jpg');
}

#alimentos {
  background-image: url('../images/tecno.jpg');
}

#turismo {
  background-image: url('../images/turismo.jpg');
}

#tsuturisticas {
  background-image: url('../images/tsutur.jpg');
}

#tsuhoteleras {
  background-image: url('../images/tsuhot.jpg');
}
