/* ------ NAVBAR ------ */
.navbar {
  color: #fff;
  background: transparent !important;
  font-weight: bold;
}

.navbar:hover {
  background: #343a40 !important;
}

.nav-link {
  color: white;
}

/* ------ FOOTER ------ */
footer {
  color: white;
  background-color: #242424;
  text-align: center;
  height: 25vh;
}

footer .col-4 {
  height: 100%;
}

.seccion-title {
  color: #28a745;
  padding: 20px 0;
  font-weight: bold;
}

/* ------ MODAL ------ */
.modal {
  padding-top: 7%;
}
.modal-dialog {
  max-width: 70%;
}
