/* ------ NAVBAR ------ */
.navbar {
  font-weight: bold;
}

/* ------ FOOTER ------ */
footer {
  color: white;
  background-color: #242424;
  text-align: center;
  height: 25vh;
}

footer .col-4 {
  height: 100%;
}

.seccion-title {
  color: #28a745;
  padding: 20px 0;
  font-weight: bold;
}

/* ------ MODAL ------ */
.modal-dialog {
  max-width: 70%;
}