/* ------ LANDING ------ */
.landing {
  height: 100vh;
  background-color: #424242;
  padding-top: 100px;
  background-image: url("../images/principal.jpg");
  background-size: cover;
  background-blend-mode: overlay;
  background-position-x: 100%;
  background-position-y: 100%;
  color: #fff;
}

.landing img {
  width: 90px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 2px;
}

/* ------ ACERCADE ------ */
.seccion {
  background-color: #424242;
  background-size: cover;
  background-blend-mode: overlay;
  background-position-x: 50%;
  padding: 40px 50px;
  border-top: 2px solid #424242;
  color: #fff;
}

.acercade {
  background-image: url("../images/sobre.jpg");
  display: none;
  height: 100vh;
}
.carreras {
  background-image: url("../images/carreras.jpg");
  padding-top: 80px;
}

.acercade h3 {
  margin-top: 20px;
}

.acercade .btn {
  margin-top: 40px;
}
