/* ------ LANDING ------ */
.landing {
  background-image: url("../images/principal.jpg");
  padding-top: 70px;
}

.landing img {
  width: 90px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 2px;
}

/* ------ ACERCADE ------ */
.seccion, .landing {
  background-color: #424242;
  background-size: cover;
  background-blend-mode: overlay;
  background-position-x: 50%;
  color: #fff;
  min-height: 100vh;
}

#acercade {
  padding-top: 15%;
  background-image: url("../images/sobre.jpg");
}


.btn {
  margin-bottom: 20px;
}