/* ------ NAVBAR ------ */
.navbar {
  color: #fff;
  background: transparent !important;
  font-weight: bold;
}

.navbar:hover {
  background: #343a40 !important;
}

.nav-link {
  color: white;
}

/* ------ LANDING ------ */
.landing {
  height: 100vh;
  background-color: #424242;
  padding-top: 100px;
  background-image: url("../images/principal.jpg");
  background-size: cover;
  background-blend-mode: overlay;
  background-position-x: 100%;
  background-position-y: 100%;
  color: #fff;
}

.landing img {
  width: 90px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 2px;
}

/* ------ ACERCADE ------ */
.acercade {
  height: 100vh;
  display: none;
  background-color: #424242;
  background-image: url("../images/sobre.jpg");
  background-size: cover;
  background-blend-mode: overlay;
  background-position-x: 100%;
  background-position-y: 100%;
  padding: 40px 50px;
  border-top: 2px solid #424242;
  color: #fff;
}

.acercade h3 {
  margin-top: 20px;
}

.acercade .btn {
  margin-top: 40px;
}

/* ------ FOOTER ------ */
footer {
  color: white;
  background-color: #242424;
  text-align: center;
  height: 25vh;
}

footer .col-4 {
  height: 25vh;
}

.seccion-title {
  color: #28a745;
  padding: 20px 0;
}
