body {
  background: #0c0c0c;
  color: #afabab;
  /*font-size: 22px;*/
  padding: 0;
}

.item, .item:hover, .item:focus{
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #afabab;
}

.item:hover {
  color: black;
  background: #afabab;
}

.projects {
  margin-top: 20px;
}
#title {
    border-bottom: 5px solid #afabab;
    text-align: center;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
}

.col-xs-12, .col-sm-12 {
  text-align: center;
}
