<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/js/script.js">
</head>

<body>

  <!-- NAVBAR  -->
  <nav id="navbar" class="navbar fixed-top navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarExpand" aria-controls="navbarExpand"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarExpand">
      <ul class="navbar-nav mr-auto ml-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link disabled" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/views/carreras.html">Carreras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- CARRERAS-->
  <div class="container-fluid seccion carreras" style="padding-bottom: 50px">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="seccion-title">Sobre la Universidad</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-6 text-center">
        <h5>Acuacultura</h5>
        <button class="btn btn-lg btn-secondary">Saber Mas</button>
      </div>
      <div class="col-6 text-center">
        <h5>Administracion</h5>
        <button class="btn btn-lg btn-secondary">Saber Mas</button>
      </div>
      <div class="col-6 text-center">
        <h5>Biologia Marina</h5>
        <button class="btn btn-lg btn-secondary">Saber Mas</button>
      </div>
      <div class="col-6 text-center">
        <h5>Contaduria Publica</h5>
        <button class="btn btn-lg btn-secondary">Saber Mas</button>
      </div>
      <div class="col-6 text-center">
        <h5>Educacion Integral</h5>
        <button class="btn btn-lg btn-secondary">Saber Mas</button>
      </div>
      <div class="col-6 text-center">
        <h5>Educ. Integral Mencion Ingles</h5>
        <button class="btn btn-lg btn-secondary">Saber Mas</button>
      </div>
      <div class="col-6 text-center">
        <h5>Enfermeria</h5>
        <button class="btn btn-lg btn-secondary">Saber Mas</button>
      </div>
      <div class="col-6 text-center">
        <h5>Estadistica</h5>
        <button class="btn btn-lg btn-secondary">Saber Mas</button>
      </div>
      <div class="col-6 text-center">
        <h5>Hoteleria</h5>
        <button class="btn btn-lg btn-secondary">Saber Mas</button>
      </div>
      <div class="col-6 text-center">
        <h5>Informatica</h5>
        <button class="btn btn-lg btn-secondary">Saber Mas</button>
      </div>
      <div class="col-6 text-center">
        <h5>Turismo</h5>
        <button class="btn btn-lg btn-secondary">Saber Mas</button>
      </div>
      <div class="col-6 text-center">
        <h5>Tecnologia de Alimentos</h5>
        <button class="btn btn-lg btn-secondary">Saber Mas</button>
      </div>
      <div class="col-6 text-center">
        <h5>Administracion de Empresas Hoteleras</h5>
        <button class="btn btn-lg btn-secondary">Saber Mas</button>
      </div>
      <div class="col-6 text-center">
        <h5>Administracion de Empresas Turisticas</h5>
        <button class="btn btn-lg btn-secondary">Saber Mas</button>
      </div>
    </div>

  </div>

  <!-- FOOTER -->
  <footer id="#contacto" class="container-fluid contacto">
    <div class="row">
      <div class="col-4">
      </div>
      <div class="col-4">
      </div>
      <div class="col-4">
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
    crossorigin="anonymous"></script>
  <script src="../assets/js/bootstrap.min.js"></script>
  <script src="../assets/js/script.js"></script>
</body>

</html>