.carrera{
  color: #fff;
  border-radius: 5px;
  padding: 30px;
  width: 100%;
  margin: 5px auto;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #292929;
}

.carrera-ext {
  color: white;
  background-color: #292929;
}

.carrera:hover {
  color: #fff;
  text-decoration: none;
}

.carreras {
  padding-top: 70px;
  background-color: #fff;
}

.bg-control, .bg-control:hover {
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
}

#informatica {
  background-image: url('../images/pc.jpg');
}

#acuacultura {
  background-image: url('../images/acua.jpg');
}

#administracion {
  background-image: url('../images/admin.jpg');
}

#biologia {
  background-image: url('../images/biologia.jpg');
}

#contaduria {
  background-image: url('../images/conta.jpg');
}

#eduintegral {
  background-image: url('../images/educacion.jpg');
}

#eduingles {
  background-image: url('../images/ingles.jpg');
}

#enfermeria {
  background-image: url('../images/enfer.jpg');
}

#estadistica {
  background-image: url('../images/estad.jpg');
}

#hoteleria {
  background-image: url('../images/hotel.jpg');
}

#alimentos {
  background-image: url('../images/tecno.jpg');
}

#turismo {
  background-image: url('../images/turismo.jpg');
}

#tsuturisticas {
  background-image: url('../images/tsutur.jpg');
}

#tsuhoteleras {
  background-image: url('../images/tsuhot.jpg');
}

.expand {
  font-weight: normal;
  text-transform: none;
  animation-name: expand;
  animation-duration: 1.5s;
  animation-timing-function: ease;
}

.minimize {
  animation-name: minimize;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

@keyframes expand {
  from {
    opacity: 0;
    color: rgba(0,0,0,0);
  }
  to {
    opacity: 1;
    color: #fff;
  }
}

@keyframes minimize {
  from {
    opacity: 1;
    color: #fff;
  }
  to {
    opacity: 0;
    color: rgba(0,0,0,0);
  }
}

@media screen and (min-width: 768px ) {
  .carrera {
    width: 45%;
  }

  .expand {
    padding: 0 50px;
  }
}
