body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
/* ------ NAVBAR ------ */
.navbar {
  font-weight: bold;
}

.navbar img {
  width: 50px;
}

.navbar {
  background-color: #212121 !important;
}

/* ------ FOOTER ------ */
footer {
  color: white;
  background-color: #242424;
  text-align: center;
}

footer .col-4 {
  height: 100%;
}

.seccion-title {
  padding: 20px 0;
  font-weight: bold;
}

/* ------ MODAL ------ */
.modal-dialog {
  max-width: 70%;
}