body {
  height: 100vh;
}


/*------------ NAVBAR ---------*/

nav {
  background-color: #313131 !important;
  height: 5%;
}

nav ul {
  height: 100% !important;
}

.logo-top {
  border-radius: 50%;
  width: 76px;
}

nav ul li {
  padding: 0 !important;
  height: 100% !important;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding-top: 8px !important;
  height: 100% !important;
}

nav ul li a:hover {
  background-color: #014169 !important;
  color: white;
  margin: 0;
}


/*--------- SECTION ----------*/

section {
  background-image: url("../img/guatamare.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  padding-top: 76px;
}

#main,
#carreras {
  background-color: rgba(0, 0, 0, 0.95);
  height: 90%;
  text-align: center;
  color: white;
  border-radius: 8px;
  color: white !important;
}

#main a,
#carreras a {
  color: white;
  text-decoration: none;
}

.breadcrumb {
  border-radius: 8px;
  background-color: transparent;
  color: whitesmoke;
  text-align: right;
  font-weight: bold;
  text-transform: capitalize;
}

.breadcrumb a:hover {
  text-decoration: underline !important;
}


/*---------- LISTA CARRERAS ---------*/

.list-group-item {
  background: transparent;
  border: 0;
}

.list-group-item:hover {
  background: transparent !important;
  font-weight: bold;
}


/*-------- Pantallas Pequenas ----------*/

@media only screen and (max-width: 420px) {
  p {
    font-size: 13px;
  }
  ul {
    font-size: 12px;
    line-height: normal;
  }
  .nav a {
    padding-top: 6px !important;
  }
  #nav-bottom {
    height: 30px;
    padding-top: 2px;
  }
  h1 {
    font-size: 26px;
  }
  section {
    padding-top: 45px !important;
  }
  #main,
  #carreras {
    height: 95%;
  }
  .breadcrumb,
  .breadcrumb .active {
    font-size: 12px;
    font-weight: bolder;
  }
}
